<html>

<head>
  <link rel="stylesheet" href="/static/Style.css">
</head>
<title>Adding new product</title>


<body>
  <h1>#Product Name</h1>
  <div class="table-container">
    <table>
      <tr>
        <th>Item name</th>
        <th>Number of Items</th>
        <th>Photo</th>
      </tr>
      <tr>
        <th>Jet Pack</th>
        <th>3</th>
        <th><img src="static/Buildings.png" alt="Building?" width="200px" height="200px"></th>
      </tr>
      <tr>
        <th><button>hi</button></th>
      </tr>
    </table>
  </div>


</body>

</html>
