<html>

<head>
  <link rel="stylesheet" href="/static/Style.css">
</head>
<title>Adding new product</title>

<head>
  <link rel="stylesheet" href="/static/Style.css">
</head>
<style>
  .logo {
    border-radius: 0px;
    padding: 0px;
  }
</style>
<title>Main Page</title>
<button class="logo" onclick="location.href='/'">
  <img src='static/Buildings.png' width="100" height="40">
</button>

<body>
  <h1>#Product Name</h1>
  <div class="table-container">
    <table>
      <tr>
        <th>Item name</th>
        <th>Number of Items</th>
        <th>Photo</th>
      </tr>
      <tr>
        <th>Jet Pack</th>
        <th>3</th>
        <th><img src="static/Buildings.png" alt="Building?" width="200px" height="200px"></th>
      </tr>
      <tr>
        <th><button>hi</button></th>
      </tr>
    </table>
  </div>


</body>








</html>
