
<html>

<head>
  <link rel="stylesheet" href="/static/Style.css">
</head>
<title>Adding new product</title>


<body>
  <h1>#Product Name</h1>
  <div class="table-container">
    <table>
      <tr>
        <th>Item name</th>
        <th>Number of Items</th>
        <th>Photo</th>
      </tr>
      <tr>
        <th>Jet Pack</th>
        <th>3</th>
        <th><img src="static/Buildings.png" alt="Building?" width="200px" height="200px"></th>
      </tr>
      <tr>
        <th><button>hi</button></th>
      </tr>
    </table>
  </div>


</body>

</html>


<html>
    <head><link rel="stylesheet" href="/static/Style.css"></head>
    <title>Adding new product</title>

    <style>.main-button {
        background-color: black;
        border: none;
        color: lightgreen;
        text-align: center;
    }</style>

    <body>
        <h1>#Product Name</h1>
        <div class="box">
            This is where the item image goes
        </div>
        <!--This was from the aid of chatGPT-->
        <button class="main-button" onclick="location.href='/'">Main page</button>
        <button>Second Button</button>
    </body>
</html>
