<!DOCTYPE>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/Style.css">
</head>
<style>
  .logo {
    border-radius: 0px;
    padding: 0px;
    position: absolute;
    left: 10px;
  }

  .search-container {
    align-items: center;
    position: relative;
    width: 80%;
    left: 120px;
  }

  .search-container #search-form {
    width: 70%;
  }
</style>
<title>Main Page</title>
<button class="logo" onclick="location.href='/'">
  <img src='static/Buildings.png' width="100" height="40">
</button>

</html>
<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/Style.css">

<!--This was taken from chatGPT-->
<div class="search-container">
  <form id="search-form">
    <input type="text" id="search-input" placeholder="Search...">
    <button type="submit">Search</button>
  </form>
</div>


</html>
