h1{
    color: darkcyan;
}
body{
    background: lightblue;
    color: black;
}
.box{
    
    width: 500px;
    border: 1px solid black;
    padding: 50px 0;
    margin: 20px;
    text-align: center;

}


img {
    background-color: white;
}

table tr th {
    border: 2px solid black;
    border-radius: 2px;
}



.main-button {
    background-color: black;
    border: none;
    color: lightgreen;
    text-align: center;