:root {
  --beige-color: #f0ece2;
  --light_gray-color: #dfd3c3;
  --brown-color: #c7b198;
  --turquise-color: #596e79;

  background-color: lightblue;
  padding-bottom: 5%;
}

#top-bar {
  position: relative;
  width: 95%;
  min-width: 500px;
  padding: 10px;
}

.logo {

  position: absolute;
  left: 10px;
  top: 5px;
  cursor: pointer;
}

.search-container {
  align-items: center;
  position: relative;
  left: 120px;
}

#search-input {
  width: 80%;
  height: 40px;
}

#search-form {
  max-width: 90%;
}

.search-container button {
  cursor: pointer;
  height: 40px;
}

.cart-image button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}





/* This is from the Main Page */
/* the css for this is pretty messy will fix later or maybe never honestly */
#Card .flex-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#Card {
  position: relative;
  top: 40px;
  left: 10px;

  cursor: pointer;
  width: 23%;
  min-width: 430px;
  padding: 10px 12px;
  border: solid var(--turquise-color);


}

#Card img {
  width: 100%;
  max-height: 200px;
  border-radius: 20px;
}
