:root {
  --beige-color: #f0ece2;
  --light_gray-color: #dfd3c3;
  --brown-color: #c7b198;
  --turquise-color: #596e79;

  background-color: lightblue;
  padding-bottom: 5%;
}

#top-bar {
  display: flex;

  width: 100%;
  
}

.logo {
  
  margin-right: 5%;
  top: 5px;
  cursor: pointer;
}

.search-container {
  justify-content: center;
  flex-grow: 2;
  left: 120px;
}

#search-input {
  width: 60%;
  height: 40px;
}

#search-form {
  max-width: 90%;
}

.search-container button {
  cursor: pointer;
  
}

.cart-image button {
  cursor: pointer;
}

/* This is from the Main Page */
#title-Banner img {
  width: 95%;
  justify-content: center;
}

/* CSS has been fixed */
/* The bottom is for the items in the store */
.looping{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#Card {
  display: flexbox;
  margin: 5 5 2% 2%;

  background-color: beige;
  width: 23%;
  min-width: 430px;
  padding: 10px 12px;
  border: solid var(--turquise-color);
}

.add-cart{
}

.Product img{
  cursor: pointer;
  width: 100%;
  max-height: 200px;
  border-radius: 20px;
}

